In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import time

In [2]:
executable_path = {"executable_path":"/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [3]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)
time.sleep(10)

In [4]:
html = browser.html
soup = bs(html, "html.parser")

In [5]:
# print(soup.prettify())

In [6]:
news_title = soup.find("div", class_= "list_text").find("div", class_= "content_title").text
news_title

'MOXIE Could Help Future Rockets Launch Off Mars'

In [7]:
news_p = soup.find("div", class_= "list_text").find("div", class_= "article_teaser_body").text
news_p

"NASA's Perseverance rover carries a device to convert Martian air into oxygen that, if produced on a larger scale, could be used not just for breathing, but also for fuel."

In [13]:
url2 = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url2)
time.sleep(10)

In [14]:
browser.click_link_by_partial_text("FULL IMAGE")

In [10]:
html = browser.html
soup = bs(html, "html.parser")

In [12]:
image = soup.find("div", class_="fancybox-inner").find("img", class_="fancybox-image")["src"]
image

TypeError: 'NoneType' object is not subscriptable

In [15]:
image_base = "https://www.jpl.nasa.gov"
featured_image_url = image_base + image
featured_image_url

NameError: name 'image' is not defined

In [19]:
url3 = "https://space-facts.com/mars/"
mars_table = pd.read_html(url3)
mars_table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [20]:
mars_facts = mars_table[0]
mars_facts

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [21]:
hemisphere_image_urls = []

In [26]:
url4 = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url4)
time.sleep(5)
html = browser.html
soup = bs(html, "html.parser")

In [ ]:
# hemispheres = soup.find("div", class_="collapsible-results")
# hemispheres
hemispheres2 = soup.find_all("div", class_="item")
hemispheres2

In [29]:
browser.click_link_by_partial_text("Cerberus")

In [32]:
browser.find_link_by_text("Sample").first.click()

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/splinter/driver/webdriver/__init__.py:501: FutureWarning: browser.find_link_by_text is deprecated. Use browser.links.find_by_text instead.
  FutureWarning,